body {
    font-family: sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}

.wrapper {
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

blockquote {
    border-left: 5px solid #cccccc;
    padding: 5px 20px;
}

p,
blockquote {
    margin: 0 0 16px;
}